{% extends "base.html" %}

{% block body %}
<!-- Header -->
<header class="row border-bottom b-2">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sigma Preachers</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Main -->
<main class="pt-4 m-0">
    
    <h1 class="text-center mb-3">The world has been overrun by <mark>feminism</mark></h1>
    <p class="display-4 mb-3">It has become a social norm</p>
    <p class="display-5 text-end mb-5">But the sigma will not conform</p>

    <div class="row gap-2 d-flex justify-content-between mb-5">
        <div class="card col-sm-4 bg-light">
            <div class="card-header bg-light">
                <h3 class="text-center">Our mission</h3>
            </div>
            <img class="card-img-top rounded" src="{{ url_for('static', filename='images/AboutMissionSigma.webp') }}" alt="Sigma wolf sitting">
            <div class="card-body">
                <p class="card-text">We seek to educate people in the way of the sigma, so they too can be sigma. We welcome alphas, betas and everyone in the social construct.</p>
                <a href="/signup" class="btn btn-primary">Unleash the wolf</a>
            </div>
        </div>

        <div class="card col-sm-7 bg-light">
            <div class="card-header bg-light">
                <h3 class="text-center">What is a sigma</h3>
            </div>
            <img class="card-img-top rounded" src="{{ url_for('static', filename='images/SigmaSummary.jpg') }}" alt="Sigma blue and purple wolf">
            <div class="card-body">
                <p class="card-text">Most people live within the norms and expectations created by society. By doing this you subdue the wolf inside, who is aggressive and grows rabid with hunger. This is what causes seasonal depression, as the wolf grows hungry and eats your happiness.</p>
                <p class="card-text">A sigma exists outside of others expectations. A sigma does not conform to social norms, and as a result the wolf can reign free.</p>
            </div>
        </div>
    </div>

    <h2 class="text-center my-3">Meet our preachers</h2>
    <div class="row d-flex justify-content-evenly">
        <div class="card col-sm-3 bg-light m-2">
            <div class="card-header bg-light">
                <h3 class="text-center">Dylan Scully</h3>
            </div>
            <img class="card-img-top rounded" src="{{ url_for('static', filename='images/SigmaDylan.jpg') }}" alt="Dylan Scully">
            <div class="card-body">
                <p class="card-text">Dylan is one of the founding members of Sigma Preachers. He has been a sigma for a very long time and never conforms to social norms.</p>
            </div>
        </div>

        <div class="card col-sm-3 bg-light m-2">
            <div class="card-header bg-light">
                <h3 class="text-center">James Corr</h3>
            </div>
            <img class="card-img-top rounded" src="{{ url_for('static', filename='images/JamesCorr.jpg') }}" alt="Dylan Scully">
            <div class="card-body">
                <p class="card-text">James is an ex-Esports student and a founding member. You may think that this makes him a loser, but he is in fact just refusing to conform to social norms.</p>
            </div>
        </div>
    </div>

    <h2 class="mt-5 mb-3 text-center">FAQ</h2>
    <div id="accordion">

        <div class="card">
            <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                    When were the Sigma Preachers formed?
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    The Sigma Preachers were established 2026.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                    Can anyone be a sigma?
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    Everyone has the potential to be a sigma, however it takes a lot of work to mold your unmalleable mind into such a dynamic form. You may not always feel like the tree will bear fruit, but you must be patient, for it is an essential trait of sigmas.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                    How is a sigma different to an alpha?
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    Alphas and sigmas can seem very similar on the surface, both are adored by everyone around them and can steal anyones girl. However you may realise that many alpha males are very similar to each other, concomitantly the sigma males are much more varied. This is because alpha males conform to the social expectations placed on them, while sigmas refuse to conform to such a construct of societal origination.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                    What are your teaching methods?
                </a>
            </div>
            <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    We preach all of the teachings in the sigma bible, which is freely available to all of our members. These provide the framework required to transition into a sigma. We encourage communication between our members so that they can practice disobeying the expectations that they have for one another.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                    Do the sigma preachers have a leader?
                </a>
            </div>
            <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    No. The sigma preachers do not have a leader, we follow the teachings of the sigma however he is an unknown and spiritual entity. He may guide us in times of social norms, however he does not dictate our actions. It would also not be sigma to follow a leader, as most religious organisations have a leader-like entity, and thus we would simply be conforming to a social norm.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSix">
                    After the wolf has been unleashed, will it hurt anyone?
                </a>
            </div>
            <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    It is the sigmas responsibility to dominate his wolf and keep it under control, you must demonstrate your superiority to the wolf. Methods for dowing this are roaring and growling randomly to keep it on its paws, wearing a sigma wolf clothing item to show it that you have no fear or shooting an invisible bow, threatening to hunt it down.
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSeven">
                    Is the Sigma Preachers a pyramid scheme?
                </a>
            </div>
            <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    No, in fact it is the exact opposite. This is because we try to exist outside of the social heirarchy, which is in of itself a pyramid. So if we were a pyramid scheme then we would be replicating the social norms of society, which is not sigma.
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}