{% extends "base_header.html" %}

{% block main %}
<!-- Main -->
<main class="row mt-5">
    <div class="col-sm-4">
        <form onsubmit="return false;" class="d-flex">
            <select class="form-select d-inl rounded-end-0" style="width: 70%;" id="filter-input">
                <option value="0">All</option>
                <option value="1">Report</option>
                <option value="2">Feature Request</option>
                <option value="3">Chatroom Request</option>
                <option value="4">Bug</option>
                <option value="5">Other</option>
            </select>
            <input type="submit" onclick="filter()" class="btn btn-primary rounded-start-0 d-inline" style="width: 30%;" value="Filter">
        </form>
        <table class="col-sm-4 table table-hover">
            <tbody>
                {% for message in messages %}
                <tr onclick="getMessageData({{ message['id'] }})" style="cursor: pointer;" class="{{ message['message_type'] }} admin-message">
                    <td class="d-flex flex-column">
                        <p class="text-primary mb-1"><b>{{ message["title"] }}</b></p>
                        <p class="ms-1 mb-1">Username: {{ message["username"] }}</p>
                        <p class="ms-1 mb-0">Message Type: {{ message["message_type"] }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-sm-8">
        <div class="bg-light rounded border p-2 shadow">
            <h4 id="message-title" class="mb-2 text-primary d-inline"></h4>
            <span class="badge bg-info ms-3"><h6 id="message-type" class="mb-0"></h6></span>
            <h5 id="message-username"></h5>
            <div class="border border-1 mb-1"></div>
            <p id="message-content" class="p-2"></p>
            <a class="btn btn-danger px-4 d-none" href="#" id="dismiss-btn">Dismiss</a>
        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='js/admin_messages.js') }}"></script>
{% endblock %}