{% extends "base_header.html" %}

{% block main %}
<!-- Main -->
<main class="mt-5">
    <form class="bg-light rounded border p-2" action="/contact_us" method="POST">
        {{ form.hidden_tag() }}
        <h2 class="text-center mb-2">Send us a message</h2>
        <div class="mb-3 mt-3">
            {{ form.message_type.label(class="form-label") }}
            {{ form.message_type(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.message.label(class="form-label") }}
            {{ form.message(class="form-control", style="resize: vertical;") }}
        </div>
        <div class="d-flex justify-content-center">
            {{ form.submit(class="btn btn-success px-5") }}
        </div>
    </form>
</main>

{% endblock %}