{% extends "base.html" %}

{% block body %}
<!-- Header -->
<header class="row border-bottom border-2 mb-5">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sigma Preachers</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view_profile/{{ current_user.id }}">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Main -->
<main>
    <div id="messages" class="row d-flex flex-column" style="margin-bottom: 20vh;"></div>
    <form class="fixed-bottom container d-flex flex-row p-3" style="background-color: white;" onsubmit="return false">
        <input id="msg" type="text" placeholder="Enter your message" class="form-control rounded-end-0">
        <button onclick="sendMessage()" class="btn btn-success rounded-start-0">Send</button>
    </form>
</main>

<script>
    window.username = {{ current_user.username | tojson}};
    window.room_name = {{ room_name  | tojson}};
</script>
<script src="{{ url_for('static', filename='js/room.js') }}"></script>
{% endblock %}