{% extends "base.html" %}

{% block body %}
<!-- Header -->
<header class="row border-bottom border-2 mb-5">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sigma Preachers</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view_profile/{{ current_user.id }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/search_users">Search users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search_rooms">Search rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact_us">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Main -->
<main class="mt-5">
    <form class="row d-flex mb-5" onsubmit="return false;">
        <input type="text" class="form-control d-inline rounded-end-0" placeholder="Search usernames" name="username_start" style="width: 80%" id="username">
        <input type="submit" class="btn btn-success d-inline rounded-start-0" onclick="search()" style="width: 20%" id="submit" value="Search">
    </form>

    <h2 class="text-center">Users</h2>
    <table class="table table-hover rounded">
        <tbody id="table">
        </tbody>
    </table>
    <div class="d-flex justify-content-center d-block my-5">
        <button class="btn btn-primary mx-auto px-5 d-inline" onclick="loadMore()" id="load-more">Load more</button>
    </div>
</main>
<script src="{{ url_for('static', filename='js/search_users.js') }}"></script>
{% endblock %}